@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md">
        <h2>Welcome to Dunder Mifflin Infinity!</h2>
        <p>
            Bringing the company into the digital age!<br />
            This website was created by our Vice President of Sales, Ryan Howard!
        </p>
    </div>
</div>